* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #fff;
}
header {
  background: url(./images/podcast.png);
  width: 100%;
  background-color: #222;
  min-height: 100vh;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}
nav {
  display: flex;
  padding: 0 6%;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  flex-grow: 1;
  text-align: right;
}
ul li {
  display: inline-block;
  padding: 20px;
  list-style: none;
}
ul li a {
  text-decoration: none;
}
.nav-links ul li ::after {
  content: "";
  width: 0%;
  height: 2px;
  display: block;
  margin: auto;
  background-color: #f44336;
  transition: 0.5s;
}
.nav-links ul li :hover::after {
  width: 100%;
  transition: 0.5s;
}
nav .fa {
  color: #fff;
  display: none;
  cursor: pointer;
}
.fa-search {
  color: #fff;
  display: block !important;
}
.text-box {
  width: 90%;
  color: #fff;
  position: absolute;
  top: 20%;
  left: 10%;
}
.text-box h1 {
  font-size: 62px;
}
.text-box p {
  font-size: 40px;
  color: #fff;
  padding: 0;
  margin: 10px 0 10px;
}
.text-box1 {
  width: 30%;
  color: #fff;
  position: absolute;
  top: 60%;
  left: 10%;
}
.box::after {
  content: "";
  display: block;
  position: absolute;
  top: 40px;
  right: 40px;
  left: 40px;
  bottom: 40px - 0 + 7px;
  border: solid 4px white;
  border-bottom: 0;
}

.text {
  color: white;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  letter-spacing: 0.1em;

  border-radius: 6px;
}
.text {
  border-right: 4px solid #fff;
  border-left: 4px solid #fff;
  border-bottom: 4px solid #fff;
}
.innertext::before,
.innertext::after {
  content: "";
  display: inline-block;
  width: 100px;
  height: 4px;
  background: white;
  vertical-align: top;
}

.innertext::before {
  margin-right: 16px;
}

.innertext::after {
  margin-left: 16px;
}
.text-box1 .inner-text {
  display: flex;
  padding: 20px;
  justify-content: space-between;
}
/* banner */
.banner {
  background: url(./images/banner.jpg);
  width: 100%;
  background-color: #222;
  min-height: 100vh;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}
.banner .content {
  width: 90%;
  color: #fff;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.banner .content h1 {
  font-size: 32px;
}
.banner .content p {
  padding-top: 25px;
  word-break: break-word;
  width: 18%;
  text-align: left;
  margin: 0 auto;
}
/* card */
.card {
  width: 100%;
  margin: auto;
  text-align: center;
  padding-top: 0px;
}

.row {
  display: flex;
  justify-content: center;
}
.course-col {
  flex-basis: 50%;
  border-radius: 10px;
  padding: 0;
  transition: 0.5s;
  position: relative;
}

.course-col:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}
.course-col img {
  margin-bottom: -6px;
  width: 100%;
}
.card-content {
  width: 50%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.card-content h3 {
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}
.card-content p {
  font-size: 14px;
  color: #777;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}
.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: #000;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 14px;
  background: #f8d410;
  position: relative;
  cursor: pointer;
}
.hero-btn:hover {
  border: 1px solid #332321;
  background: #fff;
  color: #f8d410;
  transition: 1s;
}
.row-bottom {
  display: flex;
  justify-content: space-evenly;
  padding: 30px;
  background: #f8d410;
}
.course-col-bottom {
  align-items: center;
  justify-content: center;
  display: flex;
}

.course-col-bottom-text {
  background: #fff;
}
input[type="text"] {
  border: none;
  width: 330px;
  padding: 10px;
}
input[type="text"]:focus-visible {
  outline: 0;
}
button.btn {
  border: none;
  padding: 10px;
  background: #000;
  color: #fff;
  width: 100px;
}
/* article */
section.artilce {
  width: 80%;
  margin: 50px auto 0px;
}
section.artilce .article-row {
  display: flex;
  justify-content: space-between;
}
section.artilce .article-col {
  flex-basis: 45%;
}
section.artilce .article-video img {
  max-width: 300px;
  vertical-align: middle;
}

/* social-media */
section.social {
  width: 100%;
  margin: 50px auto 0px;
}
.social-nav {
  background: #000;
  display: flex;
  justify-content: space-between;
  padding: 10px 9%;
  align-items: center;
}

section.social .social-row img {
  max-width: 300px;
  vertical-align: middle;
}
.social-nav .fa {
  display: block !important;
  color: #fff;
  cursor: pointer;
  font-size: 40px;
}
.social-nav ul li {
  text-align: right;
}
.social-nav .hero-btn:hover {
  border: 1px solid #332321;
  background: #f8d410;
  color: #000;
  transition: none;
}
.social-nav ul.right {
  display: flex;
  align-items: center;
}
.social-row {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 3% 10%;
  background: #f8d410;
}
.article-col {
  flex-basis: 37%;
}
/* contacts */
.row-contact {
  display: flex;
  justify-content: space-between;
  padding: 60px 10%;
}
input[type="text"],
input[type="email"],
input[type="number"],
input[type="date"],
textarea {
  border: 0;
  border-bottom: 1px solid #222 !important;
  width: 316px;
  padding: 10px 0;
  margin: 0 30px 30px 0px;
}
input[type="text"]:focus-visible,
[type="email"]:focus-visible,
input[type="number"]:focus-visible,
input[type="date"]:focus-visible,
textarea:focus-visible {
  outline: 0;
  cursor: pointer;
}
.get-text button.btn {
  border: none;
  padding: 10px;
  background: #f8d410;
  color: #000;
  width: 125px;
  cursor: pointer;
}
.get-text button.btn:focus-visible {
  outline: 0;
}
.get-events {
  flex-basis: 35%;
}

.get-text h3,
.get-events h3 {
  font-size: 35px;
  padding: 40px 0;
}
.get-events h5 {
  font-size: 26px;
  padding: 0 0 24px 0;
}
.get-events .date {
  display: flex;
  justify-content: space-between;
  padding: 24px 0;
}
.get-events .date h5 {
  font-size: 24px;
  padding: 0 20px;
  color: #f8d410;
}
.get-events .date p {
  padding: 0 43px;
}
.get-events .date a {
  font-size: 12px;
  padding: 0 20px;
  color: #f8d410;
}
a.more {
  color: #000;
  text-decoration: underline;
  font-size: 14px;
  letter-spacing: 4px;
}

/* footer */
footer {
  background: #000;
  padding: 30px 10%;
}
.fo-content {
  width: 50%;
}
.fo-content ul li ::after {
  content: "";
  background-color: #f44336;
  transition: 0.5s;
  margin-left: 50px;
  border-right: 2px solid;
}
.fo-content ul li:nth-child(3) ::after {
  display: none;
}
@media (max-width: 767px) {
  nav {
    padding: 20px;
  }
  ul li {
    display: block;
  }
  .nav-links {
    position: absolute;
    width: 200px;
    height: 100vh;
    top: 0;
    right: -200px;
    text-align: left;
    background-color: #222;
    transition: 1s;
    z-index: 2;
  }
  nav .fa {
    display: block;
  }
  .text-box1 .inner-text {
    flex-direction: column;
    padding: 20px;
  }
  .text-box1 .text {
    white-space: normal;
    border: none;
  }
  .innertext::before,
  .innertext::after {
    content: "";
    display: inline-block;
    width: 0;
  }
  .text-box1 {
    width: 80%;
  }
  .banner .content {
    top: 40%;
  }
  .banner .content p {
    width: 49%;
  }
  .row {
    flex-direction: column;
  }
  .row-bottom {
    flex-direction: column;
  }
  input[type="text"] {
    border: none;
    width: 200px;
    padding: 10px;
  }
  button.btn {
    width: 110px;
    margin-top: 10px;
  }
  .article-row {
    flex-direction: column;
  }
  .social-row {
    flex-direction: column;
  }
  .social-nav {
    background: #000;
    display: flex;
    justify-content: space-between;
    padding: 10px 0%;
  }
  .social-nav ul li {
    display: inline-block;
    padding: 15px;
  }
  .social-nav ul.right {
    display: block;
    align-items: center;
  }
  .row-contact {
    flex-direction: column;
  }
  .fo-content {
    width: 100%;
  }
  .fo-content ul li {
    display: inline-block;
  }
}
